<div class="page-container">
    <div class="signup-container">
        <h1>Sign-Up</h1>
        @if(errorMessage){
            <p class="errorMessage">{{errorMessage}}</p>
        }
        <div class="loginInputs">
            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <label for="email">Email</label>
                <input id="email" type="email" placeholder="Enter email" formControlName="email"/>
                <label for="name">Username</label>
                <input id="name" placeholder="Enter new username" formControlName="username"/>
                <label for="password">Password</label>
                <input id="password" type="password" placeholder="Password" formControlName="password"/>
                <button type="submit">Create account</button>
                <button routerLink="/login">Back to Login</button>
                
            </form>
            
        </div>
    </div>
</div>